# macOS
.DS_Store
**/.DS_Store

# Data files and datasets
**/data/
*.tar.gz
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/


# ONNX model artifacts
09.serverless/hair_classifier_v1.onnx
09.serverless/hair_classifier_v1.onnx.data
09.serverless/awsdeploy.sh
